include ../nav_notLoggedIn
  .container
    .row
      h1= title
      if errors
        .alert.alert-danger
          for error in errors
            li= error
    .row
      .col-md-4
        form(action='/people/signin' method='POST')
          .form-group
            label(for='email') Email
            input.form-control(type='text' name='email' placeholder='joe@example.com' autofocus value=email)
          .form-group
            label(for='password') Password
            input.form-control(type='text' name='password' placeholder='Password')
          .div
            input.btn.btn-primary(type='submit' name='signin' value='Sign In')

include ../footer
script.
  $('#signin').addClass('active')                         